
<h2>@ViewBag.Title</h2>

<div>
    <form>
        <label for="search-text">Search Tags:</label>
        <input id="search-text" type="text" > <br />
        <label for="lim">Amount of Images</label>
        <input type="radio" name="lim" value="10" checked /> 10
        <input type="radio" name="lim" value="15" /> 15
        <input type="radio" name="lim" value="20" /> 20
        <input type="radio" name="lim" value="25" /> 25 <br />
        <label for="gifType">Still or Animated GIF</label>
        <input type="radio" name="gifType" value="fixed_width" checked /> Animated
        <input type="radio" name="gifType" value="fixed_width_still" /> Still <br />
        <input id="search" type="button" value="Search" />
    </form>
</div>

<div class="gif-wrapper"></div>
