
<h2>@ViewBag.Title</h2>

<div>
    <form>
        <input id="search-text" type="text" >
        <input id="search" type="button" value="Search" />
    </form>
</div>

<div class="gif-wrapper"></div>
