
<h2>@ViewBag.Title</h2>

<div>
    <form>
        <label for="search-text">Search Tags:</label>
        <input id="search-text" type="text" >
        <label for="lim">Amount of Images</label>
        <input type="radio" name="lim" value="10" checked> 10
        <input type="radio" name="lim" value="15"> 15
        <input type="radio" name="lim" value="20"> 20
        <input type="radio" name="lim" value="25"> 25
        <input id="search" type="button" value="Search" />
    </form>
</div>

<div class="gif-wrapper"></div>
